.music-card {
    align-items: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.music-card:hover {
    box-sizing: border-box;
    color: purple;
    outline: 1px solid purple;
    outline-offset: -5px;
}

.music-name {
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px;
}
